@model Projeto_Biblioteca.WEB.Models.Registro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva_Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva_Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devolucao_Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devolucao_Registro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Genero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
